<div class="page-header-container">
    <div class="page-header">
        <h1>{{ headline|nl2br }}</h1>
        <p>{{ description|nl2br }}</p>
        {{ sign_up_button }}
    </div>
</div>
<div class="page__secondary-cta">
    <h2 class="h1">{{ login_title }}</h2>
    <p class="description">{{ login_description }}</p>
    {{ login_buttons }}
</div>
